body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
}

h1{
padding: 5%}

a{
text-decoration: none;
color: black;
}

.lista {
    counter-reset: item;
    list-style-type: none;
    list-style-position: inside;
    padding: 2%;
    position: relative;

}

.lista li {
    position: relative;
    margin: 3%;

}

ul li::before {
    content: ""; /* Agrega contenido al elemento */
        position: absolute; /* Posición absoluta */
        left: 0; /* Alineación a la izquierda */
        top: 0; /* Alineación en la parte superior */
        width: 70%; /* Ancho de la imagen */
        height: 70%; /* Altura de la imagen */
        background-image: url("../img/muelita.png"); /* Ruta de la imagen */
        background-size: contain;
        background-repeat: no-repeat;
}

footer{
position:absolute;
bottom: 0%;
}